:root{
    --main-color: #33cba2;
    --accent-color: #00788a;
}
/* Full-page preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--main-color), var(--accent-color)); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Main content */
#main-content {
    display: none; 
    
}


@font-face {
  font-family: 'Laries';
  src: url('/tabletalk3/assets/fonts/Laries-Regular.woff2') format('woff2'),
       url('/tabletalk3/assets/fonts/Laries-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rustic Printed';
  src: url('/tabletalk3/assets/fonts/Rustic-Printed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('/tabletalk3/assets/fonts/Poppins-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
    min-height: 100vh;
    background: linear-gradient(45deg, var(--main-color), var(--accent-color));
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

body.fade-out {
  opacity: 0;
}

/* Bootstrap changes */
.btn-primary {
font-family:'Poppins';
background-color:#00788a;
border: none;
}

.bg-light{
    background-color: #f5f5f5;
}


/* INDEX.PHP */
.title {
    font-size:20vw;
    font-family: 'Laries', sans-serif;
    color:var(--main-color);

}

.subtitle {
    font-size: 1rem;
    font-family: 'Rustic Printed', sans-serif;
    letter-spacing:0.5rem;
    color: #33cba2;
    margin-top: -2rem;
}

.lead{
    font-family: 'Poppins', sans-serif;
}

.step-card {
    position: relative;
    color: white;
    font-family: 'Rustic Printed', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.step-card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1;
}

.step-card > * {
    position: relative;
    z-index: 2;
}

